.car-tuning-menu {
   width: 100%;
   margin-bottom: 30px;
}

.container {
   display: flex;
   align-items: flex-start;
   gap: 20px;
   flex-direction: column;
   position: relative;
   width: 100%;
}

.category-wrapper {
   width: min-content;
}

.nav-item {
   font-size: 14px;
   font-weight: 500;
   color: #333;
   line-height: 100%;
   letter-spacing: -0.3px;
   position: relative;
   flex-direction: column;
   transition: all 0.3s ease;
   display: flex;
   align-items: center;
   background: var(--bg);
   padding: 10px 16px;
   width: 100%;
   text-align: left;
   border-top-right-radius: 12px;
   border-bottom-right-radius: 12px;

   &.active {
      background: var(--secondary);
   }
}

.nav-icon {
   margin-bottom: 8px;
}

.save-button {
   --padding-x: 14px;
   --padding-y: 14px;
   --translate-y: 0;
   --background-mint-hover: var(--secondary);
   display: flex;
   align-items: center;
   gap: 8px;
   position: absolute;
   bottom: 30px;
   right: 0;
   border-top-left-radius: 12px;
   border-bottom-left-radius: 12px;
   border-top-right-radius: 0 !important;
   border-bottom-right-radius: 0 !important;
   svg {
      width: 24px;
      height: 24px;
   }
}
